@page "/machineedity"
@page "/machineedit/{Id}"
<br /><br /><br />
@if (machine == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="listofdevicescontainer">
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card" style="margin-top:50px">
            <div class="card-header " style="background-color: #97b9b2">
                <h1>Machine Id: @machine.Id </h1>
            </div>

                <EditForm Model="@machine" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary></ValidationSummary>
                <div class="card-body " style=" background-color: #f5bfd7; padding-left:50px">
                <h4>Machine Name : <InputText id="Name" class="form-control col-sm-8" @bind-Value="@machine.Name" ></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => machine.Name)" /> </h4>
               
                    <h4>Machine Date : <InputDate id="Name" class="form-control col-sm-8" @bind-Value="@machine.Date" ></InputDate>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => machine.Date)" /></h4>
                
                    <h4>Machine Status :   <InputSelect id="status" class="form-control col-sm-8" @bind-Value="@machine.Status">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </InputSelect></h4>
                
                <h4>Machine Temperature : <InputNumber id="Name" class="form-control col-sm-8" @bind-Value="@machine.Temperature" ></InputNumber>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => machine.Temperature)" /></h4>
            </div>
                 <div class="card-footer text-center" style="background-color: #97b9b2">
            <button type="submit" class="btn btn-primary ">Save</button>
            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
           </div>
           </EditForm>


        </div>
    </div>
</div>

</div>
}
